{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<!--        <link rel="stylesheet" type="text/css" href="{% static 'thank.css' %}">-->
</head>
<body>
    <center>
        <h1>Application Accepted</h1>
         <a href="{% url 'demo' %}">HOME</a>
<!--        <div>-->
<!--        <img class="my_image my_image_padding" src="{% static 'img/thanku.png' %}"  alt="our products" width="1500px;" height="500px;">-->
<!--        </div>-->
    </center>
</body>
</html>